# /etc/dhcp/dhcpd.conf
# Configuração do servidor DHCP para o Projeto DevOps

ddns-update-style none;
default-lease-time 600;
max-lease-time 7200;
authoritative;
log-facility local7;

# Configurações de domínio e DNS
option domain-name "jantony.jonatas.devops";
option domain-name-servers 1.1.1.1, 8.8.8.8;

# Escopo para a rede 192.168.56.0/24
subnet 192.168.56.0 netmask 255.255.255.0 {
  range 192.168.56.50 192.168.56.100;
  option routers 192.168.56.1;
  option broadcast-address 192.168.56.255;
}

# Configurações manuais (fixas) para os servidores DB e APP
host db {
  hardware ethernet XX:XX:XX:XX:XX:XX; # Substitua pelo MAC address real da VM 'db'
  fixed-address 192.168.56.123{{ ip_db_final_yy }};
}

host app {
  hardware ethernet XX:XX:XX:XX:XX:XX; # Substitua pelo MAC address real da VM 'app'
  fixed-address 192.168.56.1{{ ip_app_final_xy }};
}
