# /etc/ssh/sshd_config
# Configurações padrão do Debian, com modificações do projeto

# Port 22 (padrão)
Port 22

# AddressFamily any
# ListenAddress 0.0.0.0
# ListenAddress ::

# HostKey /etc/ssh/ssh_host_rsa_key
# HostKey /etc/ssh/ssh_host_ecdsa_key
# HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and KexAlgorithms (good practice to specify strong ones)
# Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr
# KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256

# Logging
SyslogFacility AUTHPRIV

# Permissão de Root
PermitRootLogin no

# Autenticação
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

# Mensagem de Boas-Vindas
Banner /etc/motd

# Permitir acesso apenas a usuários dos grupos vagrant e ifpb
AllowGroups vagrant ifpb

# Outras configurações padrão
# X11Forwarding yes (será configurado especificamente para o CLI)
# PrintMotd no
# PrintLastLog yes
# TCPKeepAlive yes
# UsePrivilegeSeparation yes
# MaxAuthTries 6
# MaxSessions 10

Subsystem sftp /usr/lib/openssh/sftp-server
